/* Base Styles */
:root {
    --primary-color: #5DAA3A;
    /* --secondary-color: #2ecc71; */
    /* --accent-color: #f39c12;
    --text-color: #333333;
    --light-gray: #f5f5f5;
    --medium-gray: #e0e0e0;
    --dark-gray: #777777;
    --white: #ffffff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --border-radius: 8px; */

    --white: #fff;
    --backgroud-white: #fff;
    --background-green: #F4FFEE;
    --background-dark: #00140B;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--backgroud-white);
}

header {
    background-color: var(--backgroud-white);
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    align-items: center;
}

.logo img {
    height: 32px;
    width: auto;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4DA930;
}



footer {
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}


#hero {
    background-color: var(--background-green);
}

#social-proof {
    background-color: var(--background-green);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 12px 16px;
    align-self: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 16px;
    
}